name: Build Zapret Pocket
run-name: Release ${{ github.ref_name }}

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'  # любой тег вида v1.0.0

jobs:          
  build-zapret:
    name: zapret for Android ${{ matrix.abi }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - abi: armeabi-v7a
            target: armv7a-linux-androideabi
          - abi: arm64-v8a
            target: aarch64-linux-android
          - abi: x86
            target: i686-linux-android
          - abi: x86_64
            target: x86_64-linux-android

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: bol-van/zapret
          path: zapret

      - name: Build
        env:
          ABI: ${{ matrix.abi }}
          TARGET: ${{ matrix.target }}
        run: |
          DEPS_DIR=$GITHUB_WORKSPACE/deps
          export TOOLCHAIN=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64
          export API=21
          export CC="$TOOLCHAIN/bin/clang --target=$TARGET$API"
          export AR=$TOOLCHAIN/bin/llvm-ar
          export AS=$CC
          export LD=$TOOLCHAIN/bin/ld
          export RANLIB=$TOOLCHAIN/bin/llvm-ranlib
          export STRIP=$TOOLCHAIN/bin/llvm-strip
          export PKG_CONFIG_PATH=$DEPS_DIR/lib/pkgconfig

          curl -sSL https://www.netfilter.org/pub/libnfnetlink/libnfnetlink-1.0.2.tar.bz2 | tar -xj
          curl -sSL https://www.netfilter.org/pub/libmnl/libmnl-1.0.5.tar.bz2 | tar -xj
          curl -sSL https://www.netfilter.org/pub/libnetfilter_queue/libnetfilter_queue-1.0.5.tar.bz2 | tar -xj
          curl -sSL https://raw.githubusercontent.com/bol-van/zapret/master/.github/workflows/libnetfilter_queue-android.patch | patch -p1 -d libnetfilter_queue-1.0.5

          for i in libmnl libnfnetlink libnetfilter_queue; do
            (
              cd $i-*
              CFLAGS="-Os -flto=auto -Wno-implicit-function-declaration" \
              ./configure --prefix= --host=$TARGET --enable-static --disable-shared --disable-dependency-tracking
              make install -j$(nproc) DESTDIR=$DEPS_DIR
            )
            sed -i "s|^prefix=.*|prefix=$DEPS_DIR|g" $DEPS_DIR/lib/pkgconfig/$i.pc
          done

          CFLAGS="-DZAPRET_GH_VER=${{ github.ref_name }} -DZAPRET_GH_HASH=${{ github.sha }} -I$DEPS_DIR/include" \
          LDFLAGS="-L$DEPS_DIR/lib" \
          make -C zapret android -j$(nproc)

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nfqws-${{ matrix.abi }}
          path: zapret/binaries/my/nfqws
          if-no-files-found: error

  build-module:
    name: Zapret Pocket Module
    runs-on: ubuntu-latest
    needs: [build-zapret]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download nfqws aarch64 (Pixel)
        uses: actions/download-artifact@v4
        with:
          name: nfqws-arm64-v8a
          path: module

      - name: Rename nfqws to nfqws-aarch64
        run: |
          mv module/nfqws module/zapret/nfqws-aarch64

      - name: Build Module
        run: |
          version=${{ github.ref_name }}
          version_code=$(echo "${version}" | sed 's/[^0-9]//g')
          echo "version=${version}" >> $GITHUB_ENV
          echo "versionCode=${version_code}" >> $GITHUB_ENV
          echo version=${version}
          echo versionCode=${version_code}
          
          sudo apt update
          sudo apt install -y p7zip-full
          cd module

          mkdir -p system/app ipset list
          # бинарники Pixel уже загружены в nfqws-aarch64
          echo "id=zapret" > module.prop
          echo "name=zapret" >> module.prop
          echo "version=${version}" >> module.prop
          echo "versionCode=${version_code}" >> module.prop
          echo "author=sevcator, bol-van, DNSCrypt, Flowseal" >> module.prop
          echo "description=⚡ DPI bypass on Android with additional features" >> module.prop
          echo "updateJson=https://raw.githubusercontent.com/${{ github.repository }}/main/update.json" >> module.prop

          cd ..
          7z a zapret-pocket.zip ./module/*

      - name: Upload Module Zip
        uses: actions/upload-artifact@v4
        with:
          name: zapret-pocket
          path: zapret-pocket.zip
          if-no-files-found: error

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          fail_on_unmatched_files: true
          draft: false
          files: |
            zapret-pocket.zip
